header {
    background-color :rgb(76, 158, 235);
    text-align: center;
    font-size: medium;
    color: rgb(28, 32, 28);
    border: 2px solid black;
    }

h2 {
    color: black;
    font-weight: 900;
}

section{
    border: 2px solid black;
    text-align: center;   
    marker: none;  
}

li {
    text-align: right;
    padding: 5px;
    list-style-type: none;
    marker: none;
}

main {
      background-color: lightgrey;
      padding: 10px;
      display: none;
      border: 1px solid black;
}
.searchbar {
max-width: 100px;
}

#weathercontainer{
    background-color: lightseagreen;
    width: 300px;
    padding: 5px;
    margin: 0 auto;
    border: 2px solid black;
    display: none;
}

.allattractionbox{
    background-color: lightyellow;
    width: 200px;
    padding: 10px;
    border: 2px solid black;
    margin: 20px;
    display: inline-block;
}

footer {
    background-color :rgb(76, 158, 235);
}